
<div class="container">

  <div class="card-category card-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @list.photo.attached? ? cl_image_path(@list.photo.key) :asset_path('dbz.jpg') %>)">
    <h1><%= @list.name %></h1>
  </div>
  <span class="movie-tag"><%= pluralize(@list.movies.size, "movie") %></span>

  <div data-controller="ajout-film">
    <button type="button" class="btn-ace mt-3" data-action="click->ajout-film#fire">
      Ajouter un film
    </button>

    <div class="container py-5 d-none"  data-ajout-film-target="togglableElement">
      <div class="row">
        <div class="col-12 col-md-6 offset-lg-3">
          <div class="bg-white rounded p-3 shadow">
            <h3>Add a movie to your <%= @list.name %> list</h3>
            <%= simple_form_for [@list, @bookmark] do |f| %>
              <%= f.input :comment, placeholder: 'Enter a comment about the movie' %>
              <%= f.association :movie, prompt: "Select a movie" %>
              <%= f.submit class: "btn btn-flat" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-2">
    <% @list.movies.each do |movie| %>
      <div class="col-6 col-md-3 mb-4" >
        <div class="bg-white rounded shadow h-100">
          <%= image_tag movie.poster_url, alt: movie.title, class: "img-fluid" %>
          <div class="p-3 rounded-bottom d-flex flex-column">
            <strong><%= movie.title %> <span class="text-muted font-weight-normal">• <%= movie.rating %> <i class="fas fa-star star-yellow"></i></span></strong>
            <small class="text-muted"><%= movie.overview %></small>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
